@import '/src/mixins.scss';

.clock {
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  @include text-shadow;

  @media (min-width: 768px) {
    font-size: 5em;
  }
}

.ampm {
  font-size: 20px;
}
