<surah-select></surah-select>

<div class="surah-container">
  <p *ngIf="!isSurahLoaded" class="loading-text">...جاري التحميل</p>

  <ng-container *ngIf="isSurahLoaded">
    <p class="ayah-text">
      {{ ayah.text }}
    </p>
    <p class="ayah-text-en">
      {{ ayahEn.text }}
    </p>
    <p class="surah-name">({{ surah.numberOfAyahs }}/{{ ayah.numberInSurah }}) {{ surah.name }}</p>
  </ng-container>
</div>

<div class="controls-container">
  <button class="surah-control" [ngClass]="{ disabled: !isSurahLoaded || isFirstSurah }" (click)="prevSurah()">السورة السابقة</button>
  <button class="surah-control" [ngClass]="{ disabled: !isSurahLoaded || isFirstAyah }" (click)="prevAyah()">الآية السابقة</button>
  <button class="surah-control" [ngClass]="{ disabled: !isSurahLoaded || isLastAyah }" (click)="nextAyah()">الآية التالية</button>
  <button class="surah-control" [ngClass]="{ disabled: !isSurahLoaded || isLastSurah }" (click)="nextSurah()">السورة التالية</button>
</div>

<div class="audio-container">
  <button (click)="toggleAyahAudio()" class="audio-control">
    <ng-container *ngIf="isAudioReady">
      <img *ngIf="!isAudioPlaying" src="assets/play-btn.png" alt="play button" />
      <img *ngIf="isAudioPlaying" src="assets/pause-btn.png" alt="pause button" />
    </ng-container>

    <img *ngIf="!isAudioReady" src="assets/loader.gif" alt="loading icon" />
  </button>
</div>
